body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0950ad, #d5ec04);
}

h2 {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

#signature {
  text-align: end;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #8a0e0e;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff,
    0 0 20px #0950ad, 0 0 30px #0950ad, 0 0 40px #0950ad, 0 0 55px #0950ad,
    0 0 75px #0950ad;
}
